* {
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

/*! --- NAVBAR START --- */
.shop-logo {
  width: 100px;
  height: 65px;
  border: 1px solid black;
  border-radius: 15%;
  -webkit-border-radius: 15%;
  -moz-border-radius: 15%;
  -ms-border-radius: 15%;
  -o-border-radius: 15%;
}

.shop-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navbar-font {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.navbar-bgcolor {
  background-color: rgba(203, 180, 159, 0.883);
}

button.navbar-toggler {
  border-color: #000;
}

/* --- NAVBAR END --- */

/*! SECTION - HERO START  */
.carousel-item {
  width: 100vw;
  height: 500px;
  background-color: #000;
}

.carousel-item img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .carousel-item {
    height: auto;
    max-height: 240px;
  }
  .hero p {
    font-size: 18px;
  }
}

@media (min-width: 769px) {
  .carousel-item img {
    object-position: 0 -230px;
  }
  .hero p {
    font-size: 22px;
  }
}

.hero {
  background-image: url(../img/kopi_susu.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
  height: 600px;
}

.hero h1 {
  border-bottom: 2px solid black;
}

.intro-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
  text-align: center;
  width: 220px;
  height: 40px;
  padding: 10px;
  color: #ffffff;
  background-color: rgb(15, 169, 153);
  border: none;
  cursor: pointer;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 1px;
  word-spacing: 5px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

/* --- SECTION - HERO END --- */

/*! --- SECTION - PRODUCTS START --- */
#products {
  background-color: #f0ffff;
}

#products h1 {
  max-width: 400px;
  border-bottom: 2px solid black;
}

.card {
  background-color: cornsilk;
  width: 290px;
  /*height: 500px;
    */
  max-height: 500px;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 16px 14px -1px black;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.card-item {
  height: 520px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 5px;
}

.card-item > p.card-title {
  margin-top: 0;
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 2px;
  border-bottom: 2px solid rgb(15, 169, 153);
  color: rgb(15, 169, 153);
}

.product-image {
  width: 100%;
  height: 200px;
  /* border: 1px solid black; */
}

.kopi-aren {
  background-image: url(../img/kopi_susu_gula_aren.jpg);
  background-size: cover;
  background-position: 0px -47px;
  background-repeat: no-repeat;
  border: 1px solid rgb(15, 169, 153);
}

.kopi-vanilla {
  background-image: url(../img/kopi_susu_vanilla.jpg);
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  border: 1px solid rgb(15, 169, 153);
}

.mocha {
  background-image: url(../img/mochaccino.jpg);
  background-size: cover;
  background-position: 0 -60px;
  background-repeat: no-repeat;
  border: 1px solid rgb(15, 169, 153);
}

.gula-aren {
  background-image: url(../img/gula_aren_cair.jpg);
  background-size: cover;
  background-position: 0 -120px;
  background-repeat: no-repeat;
  border: 1px solid rgb(15, 169, 153);
}

.caption {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  height: 50px;
}

.card-item h3 {
  color: black;
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 2px solid rgb(15, 169, 153);
}

.card-item a {
  text-decoration: none;
}

.card-item-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  height: 40px;
  padding: 10px;
  color: #ffffff;
  background-color: rgb(15, 169, 153);
  border: none;
  cursor: pointer;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 1px;
  word-spacing: 5px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
/* --- SECTION - PRODUCTS END --- */

/*! --- SECTION - BUY START --- */
#buy {
  background-color: rgb(255, 222, 160);
  /* border: 2px solid red; */
}

#buy h1 {
  max-width: 500px;
  border-bottom: 2px solid black;
}

.buy-now {
  border: 3px dashed black;
}

.buy-now a {
  font-size: 22px;
  text-decoration: none;
  text-transform: none;
}

.buy-now p {
  font-family: "Courier New", Courier, monospace;
  font-size: 22px;
  font-weight: 600;
  word-spacing: 3px;
}

.whatsapp-button {
  width: 290px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 0;
  word-spacing: 0;
  background-color: #25d366;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 1px;
  word-spacing: 5px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.whatsapp-button img {
  height: 30px;
}
/* --- SECTION - BUY END --- */

/*! FOOTER START  */
#footer {
  background-color: #000;
  color: #fff;
}

@media (max-width: 768px) {
  #about-us {
    border-bottom: 3px dashed #fff;
  }
}

@media (min-width: 769px) {
  #contact {
    border-left: 3px dashed #fff;
  }
}

#about-us h1 {
  border-bottom: 2px solid #fff;
}

#about-us p {
  font-size: 18px;
}

#contact h1 {
  border-bottom: 2px solid #fff;
}

.contact-whatsapp {
  width: 170px;
  height: 40px;
  background-color: #25d366;
  color: #fff;
  cursor: pointer;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 1px;
  word-spacing: 5px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.contact-whatsapp img {
  width: 100%;
  height: auto;
  max-width: 30px;
  max-height: 30px;
}

.instagram {
  margin-top: 10px;
  width: 100%;
  max-width: 80px;
  object-fit: cover;
  margin-top: 0;
  padding-bottom: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.copyright-kopi {
  font-size: 16px;
  border-top: 3px solid #fff;
}
/*! FOOTER END  */

/*! --- BACK TO TOP BUTTON --- */
#back-to-top {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: none;
  background-color: rgb(15, 169, 153);
  padding: 10px 10px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  line-height: 32px;
  z-index: 1000;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

#back-to-top span {
  text-align: center;
  color: white;
  font-size: 32px;
}

/* --- BACK TO TOP BUTTON END --- */
